.calendar-card {
  width: 300px;
  height: 600px;
  border-radius: 50% / 60%;
  background-color: --light-gray; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
  margin: 10px auto;
}

h1 {
  text-align: center;
}

.calendar-card.active {
  background-color: --light-gray; 
}

.calendar-day {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
