:root {
  --primary-red: #b22222;
  --dark-olive: #556b2f;
  --light-cornsilk: #fff8dc;
  --beige: #e6d699;
  --light-gray: #d3d3d3;

  --font-heading: "Cinzel", serif;
  --font-body: "Cormorant Infant", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font-body);
  background-color: var(--light-cornsilk);
  color: var(--primary-red);
}

.app-container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-cornsilk);
  color: var(--primary-red);
  min-height: 100vh;
  background-image: url("./assets/christmas-background.jpg");
  object-fit: fill;
}

.header {
  text-align: center;
  padding: 1rem;
  background-image: url("https://i.imgur.com/16JVlPd.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
}

.title {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  margin: 0;
  display: none;
}

.content {
  flex: 1;
  text-align: center;
  font-family: var(--font-body);
  color: var(--dark-olive);
  min-height: 80vh;
}

.homepage-card {
  background-image: url("https://i.imgur.com/kFBDotZ.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .homepage-card {
    height: 500px;
    margin-bottom: 20px;
  }
}

.link-to-calendar {
  margin-top: 20px;
  background-color: var(--beige);
  border-radius: 10px;
  padding: 10px;
  line-height: 35px;
  font-family: var(--font-body);
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark-olive);
  display: none;
}

.nav-container {
  position: sticky;
  bottom: 0;
  z-index: 10;
  background-image: url("https://i.imgur.com/2wUS4bD.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    display: none;
  }
  .content {
    padding: 1rem;
    font-size: 0.95rem;
  }
}
