:root {
	--primary-red: #b22222;
	--dark-olive: #556b2f;
	--light-cornsilk: #fff8dc;
	--beige: #e6d699;
	--light-gray: #d3d3d3;

	--font-heading: "Cinzel", serif;
	--font-body: "Cormorant Infant", serif;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: var(--font-body);
	background-color: var(--light-cornsilk);
	color: var(--primary-red);
}

.app-container {
	display: flex;
	flex-direction: column;
	background-color: var(--light-cornsilk);
	color: var(--primary-red);
	min-height: 100vh;
}

.header {
	background-color: var(--primary-red);
	color: var(--light-cornsilk);
	text-align: center;
	padding: 1rem;
}

.title {
	font-family: var(--font-heading);
	font-size: 2.5rem;
	margin: 0;
}

.content {
	flex: 1;
	padding: 2rem;
	text-align: center;
	font-family: var(--font-body);
	color: var(--dark-olive);
  min-height: 80vh;
}

.link-to-calendar {
	margin-top: 20px;
	background-color: var(--beige);
	border-radius: 10px;
	padding: 10px;
	line-height: 35px;
	font-family: var(--font-body);
	font-size: 1rem;
	text-decoration: none;
	color: var(--dark-olive);
}



.nav-container {
  position: sticky;
  bottom: 0; 
  z-index: 10;
  background-color: var(--primary-red);
}


@media (max-width: 768px) {
	.title {
		font-size: 2rem;
	}
	.content {
		padding: 1rem;
		font-size: 0.95rem;
	}
	}
