:root {
  --primary-red: #B22222;
  --dark-olive: #556B2F;
  --light-cornsilk: #FFF8DC;
  --beige: #E6D699;
  --light-gray: #D3D3D3;

  --font-heading: 'Cinzel', serif;
  --font-body: 'Cormorant Infant', serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--light-cornsilk);
  color: var(--primary-red);
}


.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--light-cornsilk);
  color: var(--primary-red);
}

.header {
  background-color: var(--primary-red);
  color: var(--light-cornsilk);
  text-align: center;
  padding: 1rem;
}

.title {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  margin: 0;
}

.content {
  flex: 1; 
  padding: 2rem;
  text-align: center;
  font-family: var(--font-body);
  color: var(--dark-olive);
}

.footer {
  background-color: var(--light-gray);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--primary-red);
}
